<div th:fragment="homeItemFrag(prefix)">

    <div class="card">
        <div class="card-header" style="text-align:center;">
            <h4 class="card-title"
                th:text="${(itemShop.itemDto.exc ? 'Excellent ' : '') + itemShop.itemDto.name + (itemShop.itemDto.level>0 ? '+' + itemShop.itemDto.level : '')}">
                Name</h4>
            <div class="row" style="text-align:center">
                <div class="col-md-4"></div>
                <div class="col-md-4"  style="text-align:center;display: flex;justify-content: center;">
                    <div
                            th:style="'max-height:100px;max-width:100px;min-height:100px;min-width:100px;background-image:url(' + @{${'data:image/jpeg;base64,'+ itemShop.itemDto.icon}} + '); background-repeat: no-repeat, repeat; background-size: 100% 100%;'"
                    >
                        <div style="margin-left:50%;"
                             th:if="${itemShop.itemDto.getItemIconExtraInfo()!=null}">
                            <strong style="color:white"
                                    th:text="${itemShop.itemDto.getItemIconExtraInfo()}">10</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="card-body">
            <!--            <div class="card" th:if="${itemShop.itemDto.exc}">-->
            <!--                <div class="card-header">-->
            <!--                    <a data-toggle="collapse"-->
            <!--                       th:href="'#collapseOne'+ ${prefix} + ${itemShop.itemDto.serialNumber}">Options</a>-->
            <!--                    <div th:id="'collapseOne'+ ${prefix} + ${itemShop.itemDto.serialNumber}"-->
            <!--                         class="panel-collapse collapse"-->
            <!--                         style="text-align:center;">-->

            <!--                        <table style="margin-top:1%;" class="table">-->
            <!--                            <tbody>-->
            <!--                            <tr style="text-align:center" class="table"-->
            <!--                                th:each="option : ${itemShop.itemDto.excOptions}">-->
            <!--                                <td style="text-align:center"><label-->
            <!--                                        th:text="${option.name}"/></td>-->
            <!--                            </tr>-->
            <!--                            </tbody>-->
            <!--                        </table>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="card" style="margin-top:2%;">
                <div class="card-body">
                    <a data-toggle="collapse"
                       th:href="'#collapseTwo'+ ${prefix} + ${itemShop.itemDto.serialNumber}">Price
                        options</a>

                    <div th:id="'collapseTwo'+ ${prefix} + ${itemShop.itemDto.serialNumber}"
                         class="panel-collapse collapse"
                         style="text-align:center;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ZEN $</span>
                            </div>
                            <input id="zen" th:value="${itemShop.priceDto.priceZen}"
                                   name="zen"
                                   readonly
                                   type="number"
                                   class="form-control"
                                   aria-label="Zen">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Jewel of Bless</span>
                            </div>
                            <input id="bless" th:value="${itemShop.priceDto.priceBless}"
                                   name="bless"
                                   readonly
                                   class="form-control"
                                   type="number"
                                   aria-label="Jewel of Bless">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Jewel of Soul</span>
                            </div>
                            <input id="soul" th:value="${itemShop.priceDto.priceSoul}"
                                   name="soul"
                                   readonly
                                   type="number"
                                   class="form-control"
                                   aria-label="Jewel of Soul">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form th:method="get"
                  th:action="@{'/mu-online/web-trader/shop/item/' + ${itemShop.itemDto.code}}">
                <div class="row">
                    <button style="width:100%;" type="submit"
                            class="btn btn-info col-12">Details
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>