<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuOnline Web Wallet</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script type="text/javascript" th:src="@{/js/popover.js}"></script>

    <style>
         body {
            background:#333;
        }

        img{
            height:150px;
            width:150px;
        }

        .popover{
            min-width:550px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"/>

<div class="row" style="margin-top:1%;">
    <div class="col-sm-2"></div>
    <div class="col-md-8">

        <div th:if="${error!=null}"
             style="text-align:center; margin-top:1%" class="alert alert-danger">
            <h3 class="error" th:text="${error}">Error message</h3>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 style="text-align:center">Wallet</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="text-align:center">
                            <div class="card-body" style="text-align:center">
                                <img style="max-width:100px;max-height:100px;text-align:center" class="rounded"
                                     th:src="@{${'data:image/jpeg;base64,'+ webWallet.blessIcon}}"/>
                            </div>
                            <div class="input-group-append">
                                <input id="bless" th:value="${webWallet.blessCount}" name="bless"
                                       readonly
                                       type="number"
                                       class="form-control"
                                       aria-label="Jewel of Bless">
                            </div>
                            <div class="card-footer">
                                <div class="card">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:href="'#collapseBlessToGame'"
                                           style="text-align:center"
                                           data-toggle="collapse"
                                        >Disbursement</a>
                                        <div th:id="'collapseBlessToGame'"
                                             class="panel-collapse collapse">
                                            <form th:method="post"
                                                  th:action="@{/mu-online/web-trader/account/bless-disbursement}">
                                                <div class="input-group mb-3">
                                                    <input style="text-align:center"
                                                           id="webWalletBlessI"
                                                           name="blessCount"
                                                           min="0"
                                                           th:max="${webWallet.blessCount}"
                                                           type="number"
                                                           class="form-control"
                                                           aria-label="Jewel of Bless">
                                                </div>
                                                <button style="margin-left:1%;width:100%" type="submit"
                                                        class="btn btn-primary">To Web Warehouse
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:href="'#collapseWebBless'"
                                           style="text-align:center"
                                           data-toggle="collapse"
                                        >Web Warehouse</a>
                                        <div th:id="'collapseWebBless'"
                                             class="panel-collapse collapse">
                                            <div class="input-group mb-3">
                                                <input readonly th:value="${ware.blessCount}" type="number"
                                                       class="form-control" aria-label="blessW">
                                            </div>
                                            <form th:method="post"
                                                  th:action="@{/mu-online/web-trader/account/bless-transfer}">
                                                <i style="text-align:center">Deposit</i>
                                                <div class="input-group mb-3">
                                                    <input style="text-align:center"
                                                           id="webBlessI"
                                                           name="blessCount"
                                                           min="0"
                                                           th:max="${ware.blessCount}"
                                                           type="number"
                                                           class="form-control"
                                                           aria-label="Jewel of Bless in Web">
                                                </div>
                                                <button style="margin-left:1%;width:100%" type="submit"
                                                        class="btn btn-primary">To Wallet
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="text-align:center">
                            <div class="card-body" style="text-align:center">
                                <img style="max-width:100px;max-height:100px;text-align:center" class="rounded"
                                     th:src="@{${'data:image/jpeg;base64,'+ webWallet.soulIcon}}"/>
                            </div>
                            <div class="input-group-append">
                                <input id="soul" th:value="${webWallet.soulCount}" name="soul"
                                       readonly
                                       type="number"
                                       class="form-control"
                                       aria-label="Jewel of Soul">
                            </div>
                            <div class="card-footer">
                                <div class="card">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:href="'#collapseSoulToGame'"
                                           style="text-align:center"
                                           data-toggle="collapse"
                                        >Disbursement</a>
                                        <div th:id="'collapseSoulToGame'"
                                             class="panel-collapse collapse">
                                            <form th:method="post"
                                                  th:action="@{/mu-online/web-trader/account/soul-disbursement}">
                                                <div class="input-group mb-3">
                                                    <input style="text-align:center"
                                                           id="webWalletSoulI"
                                                           name="soulCount"
                                                           min="0"
                                                           th:max="${webWallet.soulCount}"
                                                           type="number"
                                                           class="form-control"
                                                           aria-label="Jewel of Soul">
                                                </div>
                                                <button style="margin-left:1%;width:100%" type="submit"
                                                        class="btn btn-primary">To Web Warehouse
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:href="'#collapseWebSoul'"
                                           style="text-align:center"
                                           data-toggle="collapse"
                                        >Web Warehouse</a>
                                        <div th:id="'collapseWebSoul'"
                                             class="panel-collapse collapse">
                                            <div class="input-group mb-3">
                                                <input readonly th:value="${ware.soulCount}" type="number"
                                                       class="form-control" aria-label="soulW">
                                            </div>
                                            <form th:method="post"
                                                  th:action="@{/mu-online/web-trader/account/soul-transfer}">
                                                <i style="text-align:center">Deposit</i>
                                                <div class="input-group mb-3">
                                                    <input style="text-align:center"
                                                           id="webSoulI"
                                                           name="soulCount"
                                                           min="0"
                                                           th:max="${ware.soulCount}"
                                                           type="number"
                                                           class="form-control"
                                                           aria-label="Jewel of Soul in Web">
                                                </div>
                                                <button style="margin-left:1%;width:100%" type="submit"
                                                        class="btn btn-primary">To Wallet
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="text-align:center">
                            <div class="card-body" style="text-align:center">
                                <img style="max-width:100px;max-height:100px;text-align:center" class="rounded"
                                     th:src="@{${'data:image/jpeg;base64,'+ webWallet.zenIcon}}"/>
                            </div>
                            <div class="input-group-append">
                                <input id="zen" th:value="${webWallet.zenCount}" name="zen"
                                       readonly
                                       type="number"
                                       class="form-control"
                                       aria-label="Zen">
                            </div>
                            <div class="card-footer">
                                <div class="card">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:href="'#collapseZenToGame'"
                                           style="text-align:center"
                                           data-toggle="collapse"
                                        >Disbursement</a>
                                        <div th:id="'collapseZenToGame'"
                                             class="panel-collapse collapse">
                                            <form th:method="post"
                                                  th:action="@{/mu-online/web-trader/account/zen-disbursement}">
                                                <div class="input-group mb-3">
                                                    <input style="text-align:center"
                                                           id="webWalletZenI"
                                                           name="zenCount"
                                                           min="0"
                                                           th:max="${webWallet.zenCount}"
                                                           type="number"
                                                           class="form-control"
                                                           aria-label="Jewel of Zen">
                                                </div>
                                                <button style="margin-left:1%;width:100%" type="submit"
                                                        class="btn btn-primary">To Web Warehouse
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:href="'#collapseWebZen'"
                                           style="text-align:center"
                                           data-toggle="collapse"
                                        >Web Warehouse</a>
                                        <div th:id="'collapseWebZen'"
                                             class="panel-collapse collapse">
                                            <div class="input-group mb-3">
                                                <input readonly th:value="${ware.zenCount}" type="number"
                                                       class="form-control" aria-label="zenW">
                                            </div>
                                            <form th:method="post"
                                                  th:action="@{/mu-online/web-trader/account/zen-transfer}">
                                                <i style="text-align:center">Deposit</i>
                                                <div class="input-group mb-3">
                                                    <input style="text-align:center"
                                                           id="webZenI"
                                                           name="zenCount"
                                                           min="0"
                                                           th:max="${ware.zenCount}"
                                                           type="number"
                                                           class="form-control"
                                                           aria-label="Jewel of Zen in Web">
                                                </div>
                                                <button style="margin-left:1%;width:100%" type="submit"
                                                        class="btn btn-primary">To Wallet
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div id="source" style="display:none;" th:insert="~{fragments/notifications :: notifications}"/>

</body>
</html>