<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuOnline Game Warehouse</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script type="text/javascript" th:src="@{/js/popover.js}"></script>

<style>
         body {
            background:#333;
        }
        .card-wrap {
          flex: 0 0 33.333%;
          display: flex;
          padding: 10px; /* gutter width */
        }
        .card {
          box-shadow: 0 0 4px rgba(0,0,0,0.4);
          flex: 0 0 100%;
        }

        .center {
          margin-left: auto;
          margin-right: auto;
        }

        .itemcell{
            width:40px;
            height:40px;
            cursor:pointer;
        }

        .highlight { border: 1px solid coral; }

</style>
<body>
<div th:replace="fragments/topnav :: navbar"/>

<div class="row" style="margin-top:1%;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="text-align:center">

        <div th:if="${error!=null}"
             style="text-align:center; margin-top:1%" class="alert alert-danger">
            <h3 class="error" th:text="${error}">Error message</h3>
        </div>

        <h3 style="color:white; margin-top:1%">Game Warehouse</h3>
        <div class="row">
            <div class="col-lg-8" style="text-align:center">
                <h3 style="color:white;">Items</h3>
                <div class="card">
                    <div class="card-header" style="text-align:center;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ZEN $</span>
                            </div>
                            <input readonly th:value="${ware.zen}" type="number" class="form-control" aria-label="Zen">
                            <div class="input-group-append">
                                <a data-toggle="collapse" class="input-group-text bi bi-arrow-down-up"
                                   th:href="'#collapseZen'">
                                </a>
                            </div>
                        </div>

                        <div style="margin-top:1%;" th:id="'collapseZen'" class="panel-collapse collapse">
                            <form th:method="post" th:action="@{/mu-online/web-trader/ware/zen-transfer}">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ZEN $</span>
                                    </div>

                                    <input id="zen" name="zen" min="0" th:max="${ware.zen}" type="number"
                                           class="form-control"
                                           aria-label="Zen">
                                    <div class="input-group-append">
                                        <button style="margin-left:1%" type="submit"
                                                class="input-group-text  btn btn-primary">Transfer to
                                            Web Warehouse
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div style="display:flex;flex-flow: row wrap;">
                        <div class="card-wrap" th:each="item, rowStat : ${ware.items}">
                            <div class="card" style="margin-left:1%">
                                <form th:method="post" th:action="@{/mu-online/web-trader/ware/transfer}">
                                    <input th:type="hidden" th:value="${item.code}" name="code" id="code">
                                    <div class="card-header" style="text-align:center;">
                                        <a th:if="${item.luck || item.skill || item.exc || item.icon!=null}" id="icon1"
                                           data-toggle="collapse"
                                           th:href="'#collapse' + ${item.serialNumber}"
                                           style="color:black;display:inline-block;text-align:center;">
                                            <h3 style="display: inline-block">
                                                <i class="bi bi-info-circle" data-toggle="tooltip" data-html="true"
                                                   th:title="${item.name}"></i>
                                            </h3>
                                            <h3 style="display: inline-block"
                                                data-toggle="tooltip" data-html="true" th:title="${item.name}"
                                                class="card-title"
                                                th:text="${(item.exc ? 'Exc ' : '') + item.name + (item.level>0 ? '+' + item.level : '')}">
                                                Name</h3>
                                        </a>

                                        <h3 th:if="${!item.luck && !item.skill && !item.exc && item.icon==null}"
                                            style="display: inline-block"
                                            data-toggle="tooltip" data-html="true" th:title="${item.name}"
                                            class="card-title"
                                            th:text="${(item.exc ? 'Exc ' : '') + item.name + (item.level>0 ? '+' + item.level : '')}">
                                            Name</h3>
                                    </div>
                                    <div th:id="'collapse' + ${item.serialNumber}" class="panel-collapse collapse">
                                        <div class="card-body">
                                            <table id="myTable2" style="margin-top:1%;" class="table">
                                                <tbody>
                                                <tr th:if="${item.icon!=null}">
                                                    <img class="rounded"
                                                         th:src="@{${'data:image/jpeg;base64,'+ item.icon}}"/>
                                                </tr>
                                                <tr class="table" th:if="${item.luck}">
                                                    <td><strong th:text="Luck (success rate of Jewel of Soul +25%)"/>
                                                    </td>
                                                </tr>
                                                <tr class="table" th:if="${item.luck}">
                                                    <td><strong th:text="Luck (critical damage rate +5%)"/></td>
                                                </tr>
                                                <tr class="table" th:if="${item.exc}"
                                                    th:each="option : ${item.excOptions}">
                                                    <td><label th:text="${option.name}"/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Transfer to Web Warehouse</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="text-align:center">
                <h3 style="color:white;">Preview</h3>
                <table class="center" style="text-align:center;margin-top:1%;">
                    <tr style="height:35px;" th:each="rowItems : ${warehouse}">
                        <th:block th:each="cellItem : ${rowItems}">
                            <td class="itemcell" th:if="${cellItem.type.name=='FREE'}">
                                <img width="100%" height="100%"
                                     style="display:block;width:100%;height:100%"
                                     th:src="@{${'data:image/jpeg;base64,'+ cellItem.icon}}"/>
                            </td>
                            <td th:if="${cellItem.type.name=='ITEM'}"
                                th:colspan="${cellItem.extendedItemDto.width}"
                                th:rowspan="${cellItem.extendedItemDto.height}"
                                class="itemcell">
                                <a data-toggle="collapse" th:id="'start_collapse' + ${cellItem.extendedItemDto.serialNumber}" style="display:none;" th:href="'#collapse' + ${cellItem.extendedItemDto.serialNumber}" ></a>

                                <a th:id="'item_collapse' + ${cellItem.extendedItemDto.serialNumber}"
                                   onclick="scrollToTarget(this);" style="width:100%;height:100%">
                                    <div
                                            th:style="'width:100%;height:100%;background-image:url(' + @{${'data:image/jpeg;base64,'+ cellItem.extendedItemDto.icon}} + '); background-repeat: no-repeat, repeat; background-size: 100% 100%;'"

                                    ></div>
                                </a>
                                <!--                        <img width="100%" height="100%"-->
                                <!--                             th:src="@{${'data:image/jpeg;base64,'+ cellItem.extendedItemDto.icon}}"/>-->
                            </td>


                        </th:block>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

<script>
    $('.itemcell').hover(function() {
    $('.itemcell').removeClass('highlight');
    $(this).addClass('highlight');
});

    function scrollToTarget(item){
        const idTarget = item.getAttribute("id").replace('item_','');
        const element2 = document.getElementById('start_' + idTarget);
        element2.click();
        const element = document.getElementById(idTarget);
        element.scrollIntoView();
    };
</script>
</body>
<div id="source" style="display:none;" th:insert="~{fragments/notifications :: notifications}"/>

</html>