<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuOnline WebTrader Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
         body {
            background:#333;
        }

        .card-wrap {
          flex: 0 0 33.333%;
          display: flex;
          padding: 10px; /* gutter width */
        }

        .card {
          box-shadow: 0 0 4px rgba(0,0,0,0.4);
          flex: 0 0 100%;
        }
        img{
            height:100px;
            width:100px;
        }

    </style>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"/>

<div class="row" style="margin-top:1%;">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="text-align:center">

        <div class="card" style=" background:#333;">
            <div class="card-title">
                <h3 style="color:white">Most viewed items</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="carouselExampleSlidesOnly" class="carousel slide col-md-12" data-ride="carousel"
                         data-interval="5000">
                        <div class="carousel-inner">
                            <div class="carousel-item " th:classappend="${rowStat.index==0} ? active : none"
                                 th:each="itemsPart, rowStat : ${items}">
                                <div style="display: inline-block" class="card" th:attr="data-slide-to=${rowStat.index}"
                                     th:each="item, rowStat : ${itemsPart}">
                                    <div class="card-header" style="text-align:center">
                                        <h3 class="card-title" th:text="${item.name}">Name</h3>
                                    </div>
                                    <div class="card-body">
                                        <table id="myTable" style="margin-top:1%;" class="table">
                                            <tbody>
                                            <tr th:if="${item.icon!=null}">
                                                <img class="rounded"
                                                     th:src="@{${'data:image/jpeg;base64,'+ item.icon}}"/>
                                            </tr>
                                            <tr class="table" style="margin-top:1%;">
                                                <td><strong>Category</strong></td>
                                                <td><span th:text="${item.itemType.name}">text</span></td>
                                            </tr>
                                            <tr class="table">
                                                <td><strong>Section</strong></td>
                                                <td><span th:text="${item.section}">text</span></td>
                                            </tr>
                                            <tr class="table">
                                                <td><strong>Index</strong></td>
                                                <td><span th:text="${item.id}">text</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 style="color:white;margin-top:3%">Latest added items</h3>
        <div style="display:flex;flex-flow: row wrap;margin-top:1%;">
            <div class="card-wrap" th:each="itemShop, rowStat : ${itemsRecentlyAdded}">
                <div class="card" style=";margin-top:1%;margin-left:1%">
                    <div class="card-header" style="text-align:center;">
                        <h3 class="card-title"
                            th:text="${(itemShop.itemDto.exc ? 'Excellent ' : '') + itemShop.itemDto.name + (itemShop.itemDto.level>0 ? '+' + itemShop.itemDto.level : '')}">
                            Name</h3>
                        <img class="rounded" th:src="@{${'data:image/jpeg;base64,'+ itemShop.itemDto.icon}}"/>
                    </div>
                    <div class="card-body">
                        <table th:if="${itemShop.itemDto.exc}" style="margin-top:1%;" class="table">
                            <thead>
                            <h2>Options</h2>
                            </thead>
                            <tbody style="text-align:center;">
                            <tr style="text-align:center" class="table"
                                th:each="option : ${itemShop.itemDto.excOptions}">
                                <td style="text-align:center"><label th:text="${option.name}"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <h3>Price options</h3>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">ZEN $</label>
                                </div>
                                <input id="zen" th:value="${itemShop.priceDto.priceZen}" name="zen" readonly
                                       type="number"
                                       class="form-control"
                                       aria-label="Zen">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Jewel of Bless</label>
                                </div>
                                <input id="bless" th:value="${itemShop.priceDto.priceBless}" name="bless"
                                       readonly
                                       type="number"
                                       class="form-control"
                                       aria-label="Jewel of Bless">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Jewel of Soul</label>
                                </div>
                                <input id="soul" th:value="${itemShop.priceDto.priceSoul}" name="soul"
                                       readonly
                                       type="number"
                                       class="form-control"
                                       aria-label="Jewel of Soul">
                            </div>
                        </div>
                        <form th:method="get"
                              th:action="@{'/mu-online/web-trader/shop/item/' + ${itemShop.itemDto.code}}">
                            <div class="row">
                                <button style="width:100%;" type="submit" class="btn btn-warning col-12">Buy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</div>
<div class="col-md-1"></div>
</div>
</body>
</html>