<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuOnline Item List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script type="text/javascript" th:src="@{/js/filter.js}"></script>
    <script type="text/javascript" th:src="@{/js/popover.js}"></script>

    <style>
         body {
            background:#333;
        }
         img{
            height:100px;
            width:100px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"/>


<div class="row" style="margin-top:1%;">
    <div class="col-sm-3"></div>
    <div class="col-md-6">

        <div th:replace="fragments/filter :: filterFrag"></div>

        <table id="myTable" style="margin-top:1%;" th:if="${items!=null}" class="table">
            <thead>
            <tr class= "table-secondary">
                <th>No.</th>
                <th>Icon</th>
                <th>Name</th>
                <th>Category</th>
                <th>Section</th>
                <th>Index</th>
            </tr>
            </thead>
            <tbody>
            <tr class= "table-secondary" th:each="item, iterStat : ${items}">
                <td><span th:text="${iterStat.count}"></span></td>
                <td><img class="rounded" th:src="@{${'data:image/jpeg;base64,'+ item.icon}}"/></td>
                <td><span th:text="${item.name}"></span></td>
                <td><span th:text="${item.itemType.name}"></span></td>
                <td><span th:text="${item.section}"></span></td>
                <td><span th:text="${item.id}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>
</body>
<div id="source" style="display:none;" th:insert="~{fragments/notifications :: notifications}"/>

</html>