<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuOnline Item List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script type="text/javascript" th:src="@{/js/filter.js}"></script>
    <script type="text/javascript" th:src="@{/js/popover.js}"></script>

    <style>
         body {
            background:#333;
        }
         img{
            height:100px;
            width:100px;
        }
         td, tr{
            text-align:center
        }
















    </style>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"/>


<div class="row" style="margin-top:1%;">
    <div class="col-sm-2"></div>
    <div class="col-md-8">

        <div class="card" style="margin-top:1%;">
            <div class="card-header">
                <a th:href="'#collapseFilter'"
                   style="text-align:center"
                   data-toggle="collapse">Filters</a>
                <div th:id="'collapseFilter'"
                     class="panel-collapse collapse">
                    <div class="card-body">
                        <form th:method="post" th:action="@{'/mu-online/web-trader/shop'}" th:object="${filter}">
                            <div class="row">
                                <h4>Class</h4>
                                <div th:each="cf, iterStat : ${filter.classFilter}"
                                     style="margin-left:2%">
                                    <div class="row" style="text-align:center">
                                        <div class="col-md-6" style="text-align:center">
                                            <img style="max-width:30px;max-height:30px" class="rounded"
                                                 th:src="@{${'data:image/jpeg;base64,'+ cf.characterClass.icon}}"/>
                                        </div>
                                        <div class="col-md-6" style="text-align:center">
                                            <input style="text-align:left;height:100%"
                                                   th:field="*{classFilter[__${iterStat.index}__].selected}"
                                                   th:checked="${cf.selected}"
                                                   type="checkbox"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:1%text-align:center">
                                <h4 style="margin-top:1%">Category</h4>
                                <div th:each="cf, iterStat : ${filter.categoryFilter}"
                                     style="margin-top:1%;margin-left:2%;">
                                    <div class="row"
                                         style="text-align:center;margin-top:1%;margin-left:2%;border: 2px solid black; border-radius: 5px;">
                                        <label style="text-align:center;display:inline-block"
                                               th:text="${cf.category.name}"></label>
                                        <input style="display:inline-block;text-align:left;height:100%"
                                               th:field="*{categoryFilter[__${iterStat.index}__].selected}"
                                               th:checked="${cf.selected}"
                                               type="checkbox"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 style="margin-top:2%;text-align:center; display: flex; flex-direction: row;">
                                <h4 style="margin-top:1%">Price</h4>
                                <select style="display: block;margin-left:2%" id="dropDownList"
                                        th:field="*{priceFilter.paymentMethod}">
                                    <option th:each="paymentMethod : ${filter.paymentMethods}"
                                            th:value="${paymentMethod}"
                                            th:text="${paymentMethod}"
                                    >
                                    </option>
                                </select>
                                <input style="display: block;margin-left:2%"
                                       placeholder="Min Amount"
                                       type="number"
                                       th:value="${amountMin}"
                                       th:field="*{priceFilter.amountMin}"
                                >
                                <input style="display: block;margin-left:2%"
                                       placeholder="Max Amount"
                                       th:value="${amountMax}"
                                       th:field="*{priceFilter.amountMax}"
                                >
                            </div>
                            <div class="row"
                                 style="margin-top:2%;text-align:center; display: flex; flex-direction: row;">
                                <h4 style="margin-top:1%">Page Size</h4>
                                <select style="display: block;margin-left:2%" id="dropDownList2"
                                        th:field="*{pageSize}">
                                    <option th:each="pageSizeOpt : ${filter.pageSizeOptions}"
                                            th:value="${pageSizeOpt}"
                                            th:text="${pageSizeOpt}"
                                    >
                                    </option>
                                </select>
                            </div>
                            <div class="row"
                                 style="margin-top:2%;text-align:center; display: flex; flex-direction: row;">
                                <h4 style="margin-top:1%">Sort</h4>
                                <select style="display: block;margin-left:2%" id="dropDownList3"
                                        th:field="*{sort.type}">
                                    <option th:each="sortType : ${filter.sort.sortTypes}"
                                            th:value="${sortType}"
                                            th:text="${sortType}"
                                    >
                                    </option>
                                </select>
                                <select style="display: block;margin-left:2%" id="dropDownList4"
                                        th:field="*{sort.method}">
                                    <option th:each="sortMethod : ${filter.sort.sortMethods}"
                                            th:value="${sortMethod}"
                                            th:text="${sortMethod}"
                                    >
                                    </option>
                                </select>
                            </div>
                            <button style="margin-top:1%;width:100%" type="submit" class="btn btn-primary">Filter
                            </button>
                        </form>
                        <form th:method="get" th:action="@{'/mu-online/web-trader/shop/clear-filters'}">
                            <button style="margin-top:1%;width:100%" type="submit" class="btn btn-primary">Clear
                                filters
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <table id="myTable" style="margin-top:1%;" th:if="${pageItems!=null}" class="table">
            <thead>
            <tr class="table-secondary">
                <th>No.</th>
                <th>Icon</th>
                <th>Name</th>
                <th>Category</th>
                <th>Zen</th>
                <th>Jewel of Bless</th>
                <th>Jewel of Soul</th>
                <th>Seller</th>
                <th>Views</th>
                <th>Adding date</th>
                <th>Item Page</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-secondary" th:each="item, iterStat : ${pageItems.page}">
                <form th:method="get"
                      th:action="@{'/mu-online/web-trader/shop/item/' + ${item.itemDto.code}}">
                    <td><span th:text="${iterStat.count}"></span></td>
                    <td><img class="rounded" th:src="@{${'data:image/jpeg;base64,'+ item.itemDto.icon}}"/></td>
                    <td><span th:text="${item.itemDto.name}"></span></td>
                    <td><span th:text="${item.itemDto.itemType}"></span></td>
                    <td><span th:text="${item.priceDto.priceZen}"></span></td>
                    <td><span th:text="${item.priceDto.priceBless}"></span></td>
                    <td><span th:text="${item.priceDto.priceSoul}"></span></td>
                    <td><span th:text="${item.sellerAccount}"></span></td>
                    <td><span th:text="${item.views}"></span></td>
                    <td><span th:text="${#temporals.format(item.addDate,'dd-MM-yyyy HH:mm:ss')}"></span></td>
                    <td style="text-align:center;">
                        <button type="submit" class="btn btn-primary">
                            <i style="font-size:30px" class="bi bi-eye"></i>
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" th:if="${pageItems.paging.totalPages > 1}">
                <li class="page-item" th:classappend="${!pageItems.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{'/mu-online/web-trader/shop/?page=' + ${pageItems.paging.pageNumber - 1} + '&filters=true'}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${pageItems.paging.getItems()}">
                    <li class="page-item"
                        th:classappend="${item.index == pageItems.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link"
                           th:href="@{'/mu-online/web-trader/shop/?page=' + ${item.index} + '&filters=true' }"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!pageItems.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{'/mu-online/web-trader/shop/?page=' + ${pageItems.paging.pageNumber + 1} + '&filters=true'}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-2"></div>
</div>
</body>
<div id="source" style="display:none;" th:insert="~{fragments/notifications :: notifications}"/>

</html>