<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuOnline Trade</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script type="text/javascript" th:src="@{/js/filter.js}"></script>
    <script type="text/javascript" th:src="@{/js/popover.js}"></script>

    <style>
         body {
            background:#333;
        }
         img{
            height:100px;
            width:100px;
        }
         td, tr{
            text-align:center
        }

        .popover{
            min-width:550px;
        }

         #myBtn {
          display: none;
          position: fixed;
          bottom: 10px;
          right: 30px;
          z-index: 99;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
        }

        #myBtn:hover {
          background-color: #333;
        }

         .center {
          margin-left: auto;
          margin-right: auto;
        }

        .itemcell{
            width:40px;
            height:40px;
        }




    </style>
</head>
<body>

<button onclick="topFunction()" id="myBtn" title="Go to top" class="btn">
    <i style="font-size:40px;font-color:red;color: #705D9D" class="bi bi-arrow-up-square-fill"></i>
</button>

<div th:replace="fragments/topnav :: navbar"/>

<div class="row" style="margin-top:1%;">
    <div class="col-1"></div>
    <div class="col-md-7">

        <div th:if="${error!=null}"
             style="text-align:center; margin-top:1%" class="alert alert-danger">
            <h3 class="error" th:text="${error}">Error message</h3>
        </div>

        <table id="myTable" style="margin-top:1%;" class="table">
            <thead>
            <tr class="table-secondary">
                <th>Icon</th>
                <th style="text-align:left">Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-secondary" th:each="item, iterStat : ${wareItems}">
                <td>
                    <img class="rounded" th:src="@{${'data:image/jpeg;base64,'+ item.icon}}"/>
                </td>
                <td style="text-align:left">
                    <span th:if="${item.exc}" style="color:green;text-align:left">Exc</span>
                    <span th:text="${item.name}" style="color:black;text-align:left"></span>
                    <span th:if="${item.luck}" style="color:blue;text-align:left">+Luck</span>
                    <span th:if="${item.skill}" style="color:blue;text-align:left">+Skill</span>
                    <th:block th:if="${item.exc}" th:each="exc :${item.excOptions}">
                        <span th:text="${'+' + exc.name}" style="text-align:left"></span>
                    </th:block>
                </td>
                <td>
                    <form th:action="@{/mu-online/web-trader/trade/put-item}" th:method="post">
                        <input th:type="hidden" th:value="${item.code}" name="itemCode">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-left-right"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3" style="text-align:center">
        <div class="row" style="text-align:center">
            <strong style="text-align:center;width:100%;color:white">Trade Window</strong>
        </div>
        <table class="center" style="text-align:center;margin-top:1%;">
            <tr th:each="rowItems : ${tradeItems}">
                <th:block th:each="cellItem : ${rowItems}">
                    <td class="itemcell" th:if="${cellItem.type.name=='FREE'}">
                        <img width="100%" height="100%"
                             style="display:block;width:100%;height:100%"
                             th:src="@{${'data:image/jpeg;base64,'+ cellItem.icon}}"/>
                    </td>
                    <td th:if="${cellItem.type.name=='ITEM'}"
                        th:colspan="${cellItem.extendedItemDto.width==0 ? 1 : cellItem.extendedItemDto.width}"
                        th:rowspan="${cellItem.extendedItemDto.height==0 ? 1 : cellItem.extendedItemDto.height}"
                        class="itemcell">
                        <div
                                th:style="'width:100%;height:100%;background-image:url(' + @{${'data:image/jpeg;base64,'+ cellItem.extendedItemDto.icon}} + '); background-repeat: no-repeat, repeat; background-size: 100% 100%;'">
                        </div>
                    </td>
                </th:block>
            </tr>
            <tr>
                <td class="itemcell" th:each="i: ${#numbers.sequence(1, colCount - 1)}">
                    <div
                            th:style="'width:100%;height:100%;background-image:url(' + @{${'data:image/jpeg;base64,'+ img.BACKGROUND}} + '); background-repeat: no-repeat, repeat; background-size: 100% 100%;'">
                    </div>
                </td>
                <td class="itemcell">
                    <form style="width:100%;height:100%" th:action="@{/mu-online/web-trader/trade/send-offer}" th:method="post">
                        <button
                                type="submit"
                                class="btn"
                                th:style="'width:100%;height:100%;background-image:url(' + @{${'data:image/jpeg;base64,'+ img.ACCEPT}} + '); background-repeat: no-repeat, repeat; background-size: 100% 100%;'">
                        </button>
                    </form>
                </td>
            </tr>
        </table>

    </div>
    <div class="col-sm-1"></div>
</div>
<div id="source" style="display:none;" th:insert="~{fragments/notifications :: notifications}"/>

<script>
    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }




</script>
</body>
</html>